@import "tailwindcss";

@theme {
  --color-own-primary: #7970ea;
  --color-border: #e6e6ed;
}

@tailwind utilities;

@layer utilities {
  .padding {
    @apply xl:px-20 lg:px-16 md:px-10 px-5;
  }
  .btn {
    @apply bg-own-primary px-4 py-[6px] text-white font-semibold rounded-md;
  }
  .outline-btn {
    @apply border-[2px] border-own-primary px-4 py-[6px] text-own-primary font-semibold rounded-md;
  }
  .section-heading {
    @apply text-3xl md:text-4xl font-semibold md:font-bold;
  }
  .section-description {
    @apply w-full md:w-[70%] lg:w-[60%] xl:w-[40%] mt-2;
  }
}

body {
  background-color: #eeeeee;
}

.hero-bg-image {
  background-position: -5% 90%;
}
